@{
    ViewBag.Title = "SalesSup Approve";
    Layout = "~/Views/Shared/_LayoutindexRT.cshtml";
    var user = ViewBag.UserId;
    var usertype = ViewBag.UserType;
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SalesSup Approve</title>
    <link href="~/Content/css/sb-admin-A.css" rel="stylesheet" />

    <link href="~/Scripts/JSautocomplete/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/JSautocomplete/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/JSautocomplete/jquery-ui.js"></script>
    <script src="~/Content/fixed-table-master/fixed-table.js"></script>
    <link href="~/Content/fixed-table-master/fixed-table.css" rel="stylesheet" />

    <style>
        #myImg {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }

            #myImg:hover {
                opacity: 0.7;
            }

        /* The Modal (background) */
        .modalx {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

        /* Modal Content (Image) */
        .modal-contentx {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 1200px;
        }

        /* Caption of Modal Image (Image Text) - Same Width as the Image */
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        /* Add Animation - Zoom in the Modal */
        .modal-content, #caption {
            animation-name: zoom;
            animation-duration: 0.6s;
        }
        /* The Close Button */
        .close {
            position: absolute;
            top: 56px;
            right: 20px;
            color: #f1f1f1;
            font-size: 57px;
            font-weight: bold;
            /* transition: 0.3s; */
            left: 1656px;
        }

            .close:hover,
            .close:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }

        .preserveLineBreaks {
            white-space: pre-line; /*or pre-wrap*/
        }

        input[type="file"] {
            display: block;
        }

        input[type="text"] {
            /*background: border-box border-box;*/
            color: blue;
        }

        input[type="date"] {
            /*background: border-box border-box;*/
            color: blue;
        }

        input[type="checkbox"] {
            width: 35px;
            zoom: 2;
            padding: 2px;
            -webkit-appearance: checkbox;
        }

        .imageThumb {
            max-height: 75px;
            border: 2px solid;
            padding: 1px;
            cursor: pointer;
        }

        .pip1 {
            display: inline-block;
            margin: 10px 10px 0 0;
        }

        .remove1 {
            display: block;
            background: #444;
            border: 1px solid black;
            color: white;
            text-align: center;
            cursor: pointer;
        }

            .remove1:hover {
                background: white;
                color: black;
            }

        .pip2 {
            display: inline-block;
            margin: 10px 10px 0 0;
        }

        .remove2 {
            display: block;
            background: #444;
            border: 1px solid black;
            color: white;
            text-align: center;
            cursor: pointer;
        }

            .remove2:hover {
                background: white;
                color: black;
            }

        .pip3 {
            display: inline-block;
            margin: 10px 10px 0 0;
        }

        .remove3 {
            display: block;
            background: #444;
            border: 1px solid black;
            color: white;
            text-align: center;
            cursor: pointer;
        }

            .remove3:hover {
                background: white;
                color: black;
            }

        .pip4 {
            display: inline-block;
            margin: 10px 10px 0 0;
        }

        .remove4 {
            display: block;
            background: #444;
            border: 1px solid black;
            color: white;
            text-align: center;
            cursor: pointer;
        }

            .remove4:hover {
                background: white;
                color: black;
            }

        .gi-4x {
            font-size: 2em;
        }
    </style>
</head>

<body>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg" style=" max-width: 1200px;">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Invoice History</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" @*style="overflow-x:scroll"*@>
                    <table id="_tbinvoicehiscx">
                        <thead>
                            <tr>
                                <th style=" min-width: 115px; height: 60px; border: 1px solid #222;">Invoice No</th>
                                @*<th style=" min-width: 80px; height: 60px; border: 1px solid #222;">Sel</th>*@
                                <th style=" min-width: 85px; height: 60px; border: 1px solid #222;">Invoice Date</th>
                                <th style=" min-width: 80px; height: 60px; border: 1px solid #222;">Item No.</th>
                                <th style=" min-width: 200px; height: 60px; border: 1px solid #222;">Description</th>
                                <th style=" min-width: 80px; height: 60px; border: 1px solid #222;">UOM</th>
                                <th style=" min-width: 80px; height: 60px; border: 1px solid #222;">Stock<br />Group</th>
                                <th style=" min-width: 80px; height: 60px; border: 1px solid #222;">Qty</th>
                                <th style=" min-width: 80px; height: 60px; border: 1px solid #222;">Unit Price</th>
                                <th style=" min-width: 80px; height: 60px; border: 1px solid #222;">Line <br />Amount</th>
                                <th style=" min-width: 80px; height: 60px; border: 1px solid #222;">Line <br />Discount %</th>
                                <th style=" min-width: 80px; height: 60px; border: 1px solid #222;">Line <br />discount Amount</th>
                                <th style=" min-width: 80px; height: 60px; border: 1px solid #222;">Amount</th>
                                <th style=" min-width: 80px; height: 60px; border: 1px solid #222;">Sale Man</th>
                                <th style=" min-width: 80px; height: 60px; border: 1px solid #222;">Customer</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModalimage" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Image</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="overflow-x:scroll">
                    <table id="_tbimage">
                        <thead>
                            <tr>
                                <th style="min-width: 645px;height: 60px;border: 1px solid #222;text-align: center;">Image</th>
                                @*<th style=" min-width: 80px; height: 60px; border: 1px solid #222;">Sel</th>*@
                                <th style="min-width: 134px;height: 60px;border: 1px solid #222;text-align: center;">Delete</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Trigger the modal with a button -->
    <!-- ModalWarning -->
    <div id="myModalWarning" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

        <div class="modal-dialog" role="document">

            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="modal" aria-label=" close"><span aria-hidden="true">&times;</span></button>
                <strong>Warning!</strong>
                <div class="modal-body">
                    <div id="textAlertWarning">Some text in the modal.</div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modalsuccess -->
    <div class="modal fade" id="myModalSucces" role="dialog">
        <div class="modal-dialog">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="modal" aria-label=" close"><span aria-hidden="true">&times;</span></button>
                <strong>Succes</strong>
                <div class="modal-body">
                    <div id="textAlertSucces">Save success</div>
                </div>

            </div>
        </div>
    </div>
    <div class="card mb-12">
        <div class="card-header">
            <i class="fa fa-table"></i>Approve By Sales Sup / Sales Manager <li id="clickmeheader" class="fa fa-fw fa-angle-down" style="font-size:larger;font-weight:bold"></li>
        </div>
        <div class="card-body" id="myDIVheader">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <span> <i class="fa fa-pencil"></i>SlmCod:</span>
                            <select class="bar" id="slmcod"></select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="group" style=" margin-bottom: 22px;">
                            <span> <i class="fa fa-user"></i> Company:</span>
                            <select class="bar" id="_company">
                                <option value="0" disabled>Choose option</option>
                                <option value="TAC">TAC</option>
                                <option value="AAC">AAC</option>
                                <option value="OMP">OMP</option>
                                <option value="ALL" selected>ALL</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <span> <i class="fa fa-pencil"></i>Request start date:</span>
                            <span><input type="date" data-date-format="dd/mm/yy" id="_statdate"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span> <i class="fa fa-pencil"></i>Request end date:</span>
                            <span><input type="date" data-date-format="dd/mm/yy" id="_enddate"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span> <i class="fa fa-pencil"></i>Customer:</span>
                            <span><input type="text" required id="_cusno"></span>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <span> <i class="fa fa-pencil"></i>Status.:</span>
                            <span>
                                <select id="_status" style="font-size: 16px;padding: 8px 0px 0px 2px;display: block;border: none;border-bottom: 1px solid #1b1919;width: 217px;"></select>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span> <i class="fa fa-pencil"></i>Item No.:</span>
                            <span><input type="text" required id="_itemnosearch"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <button type="button" class="btn btn-success" id="_btnsearch">Search</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span>
                                <i class="fa fa-pencil"></i>Search No.:
                            </span>
                            <input class="form-control" type="text" id="searchclaimno">

                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" id="_btnsearchclaimno" style="display:none">
                                    @*<i class="fa fa-search"></i>*@
                                </button>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">

                        </div>
                    </div>
                </div>
            </div>
            
           
        </div>
        <div class="card-header" style="background-color: #5f9ea04f;">
           <li id="clickmeheaderselect" style="font-size:larger;font-weight:bold"></li>
        </div>
        <div class="card-body" id="myDIVheader">
          

            <div class="row">
                
                <div class="col-md-3" style="text-align:center">
                    <div class="input-group">
                        <div class="form-group">
                            <div class="col-md-2">
                                <form role="form">
                                    <div class="form-group">
                                        <div class="input-group ">

                                            <span class="input-group-addon"><input id="checkboxAll" type="checkbox"> </span>
                                            <span class="input-group-btn">
                                                <button type="button" id="btncheck" class="btn btn-info btn-block "><span class="glyphicon glyphicon-check"></span>เลือกรายการอนุมัติ ทั้งหมด</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="text-align:center">
                    <div class="form-group">
                        <textarea id="remakesupall" placeholder="หมายเหตุ"></textarea>
                    </div>
                </div>
                <div class="col-md-3" style="text-align:center">
                    <div class="form-group">
                        <button type="button"  class="btn btn-warning btn-large btnapproval" cak="2" style="width: 234px;">ไม่อนุมัติ</button>
                    </div>
                </div>
                <div class="col-md-3" style="text-align:center">
                    <div class=" form-group">

                        <input type="button" class="btn btn-success btn-large btnapproval" cak="1" style="width: 234px;" value="อนุมัติคืนสินค้า">

                    </div>
                </div>
            </div>
            <div id="fixed-table-container-2" class="fixed-table-container" style="z-index:1">
                <table>
                    <thead>
                        <tr>

                            <th style="width: 134px">line no</th>
                            <th>Select</th>
                            <th>Ref No.</th>
                            <th>Customer.</th>
                            <th>Sales Man.</th>
                            <th>Request<br /> Date</th>
                            <th>Invoice No <br />/Invoice Date</th>
                            <th>Item No.</th>
                            <th>Stock<br />Group</th>
                            <th>Request Qty.</th>
                            <th>Price</th>
                            <th style="text-align:center">สาเหตุคืนสินค้า</th>
                            <th>ดำเนินการ</th>
                            <th style="text-align:center">สถานะ<br />รับสินค้า</th>
                            <th>Sales<br />Manager</th>
                            <th>PM</th>
                            <th>Management</th>
                            <th>Admin</th>
                            <th>CS</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class="card mb-12">
            <div class="card-header">
                <i class="fa fa-table"></i>รายละเอียดสินค้า <li id="clickme" class="fa fa-fw fa-angle-down" style="font-size:larger;font-weight:bold"></li>
            </div>
            <div class="card-body" id="myDIV">
                <div class="col-md-12">
                    <div><span id="Nospankey" style="color: blue;text-decoration: underline;font-weight: bold"></span> </div>
                    <div><span id="subNospan" style="color: blue;text-decoration: underline;font-weight: bold"></span> </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <span> <i class="fa fa-pencil"></i> Customer Code:</span>
                                <span style="color: blue;text-decoration: underline;font-weight: bold" id="_cusnodes"></span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <span> <i class="fa fa-pencil"></i> Customer name:</span>
                                <span style="color: blue;text-decoration: underline;font-weight: bold" id="_cusnamedes"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <span> <i class="fa fa-pencil"></i> Request by:</span>
                                <span style="color: blue;text-decoration: underline;font-weight: bold" id="requestby"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <span> <i class="fa fa-pencil"></i> SlmCod.:</span>
                                <span style="color: blue;text-decoration: underline;font-weight: bold" id="slmcoddes"></span>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <span> <i class="fa fa-pencil"></i> SlmName:</span>
                                <span style="color: blue;text-decoration: underline;font-weight: bold" id="sslmnamdes"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <span> <i class="fa fa-pencil"></i> Request Date:</span>
                                <span style="color: blue;text-decoration: underline;font-weight: bold" id="requestdate"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <span> <i class="fa fa-pencil"></i> Item No.:</span>
                                <span style="color: blue;text-decoration: underline;font-weight: bold" id="_itemno"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <span> <i class="fa fa-pencil"></i> Description:</span>
                                <span style="color: blue;text-decoration: underline;font-weight: bold" id="_description"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <span> <i class="fa fa-pencil"></i> Uom:</span>
                                <span style="color: blue;text-decoration: underline;font-weight: bold" id="_uom"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <span> <i class="fa fa-pencil"></i> Invoice No.:</span>
                                <span style="color: blue;text-decoration: underline;font-weight: bold" id="_invoiceno"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <span> <i class="fa fa-calendar"></i> Invoice Date:</span>
                                <span style="color: blue;text-decoration: underline;font-weight: bold" id="_psdate"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <span> <i class="fa fa-pencil"></i> Invoice Qty:</span>
                                <span style="color: blue;text-decoration: underline;font-weight: bold" id="_invoiceqty"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <span> <i class="fa fa-pencil"></i>Price.:</span>
                                <span style="color: blue;text-decoration: underline;font-weight: bold" id="_invoicelineamt"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <span> <i class="fa fa-pencil"></i> Line Discount %:</span>
                                <span style="color: blue;text-decoration: underline;font-weight: bold" id="_invoicelinedis"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <span> <i class="fa fa-pencil"></i> Line discount Amount:</span>
                                <span style="color: blue;text-decoration: underline;font-weight: bold" id="_invoicelinedisamt"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <span> <i class="fa fa-pencil"></i> AMOUT:</span>
                                <span style="color: blue;text-decoration: underline;font-weight: bold" id="_amt"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-3">
                            <div class="form-group">
                                <span> <i class="fa fa-pencil"></i> Stock Group:</span>
                                <span style="color: blue;text-decoration: underline;font-weight: bold" id="_stkgup"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <span> <i class="fa fa-clock-o"></i> Product:</span>
                                <span style="color: blue;text-decoration: underline;font-weight: bold" id="_produc"></span>
                            </div>
                        </div>
                        <div class="col-md-3" style="display:none">
                            <div class="form-group">
                                <span> <i class="fa fa-pencil"></i> Type.:</span>
                                <span style="color: blue;text-decoration: underline;font-weight: bold" id="_foc"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--APS-->
        <div class="card mb-12">
            <div class="card-header">
                <i class="fa fa-table"></i>สาเหตุการคืนสินค้า<li id="clickme4" class="fa fa-fw fa-angle-down" style="font-size:larger;font-weight:bold"></li>
            </div>
            <div class="card-body" id="myDIV4">
                <div class="row">
                    <div class="col-md-4" style="display:none">
                        <div class="form-group">
                            <span> <i class="fa fa-clock-o"></i> ระยะการซื้อสินค้า:</span>
                            <span style="color: blue;text-decoration: underline;font-weight: bold" id="_workda"></span>
                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="form-group">
                            <span> <i class="fa fa-pencil"></i>จำนวนสินค้าที่คืน.:</span>
                            <span style="color: #dc3545; text-decoration: underline; font-weight: bold" id="_claimqty"></span>
                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="form-group">
                            <span> <i class="fa fa-pencil"></i>มูลค่าที่คืนสินค้า.:</span>
                            <span style="color: #dc3545; text-decoration: underline; font-weight: bold" id="_amtreturn"></span>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <span> <i class="fa fa-pencil"></i> สาเหตุคืนสินค้า:</span>
                            <span style="color: blue;text-decoration: underline;font-weight: bold" id="causeclaim"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <span> <i class="fa fa-pencil"></i> ดำเนินการ:</span>
                            <span style="color: blue;text-decoration: underline;font-weight: bold" id="_proceedto"></span>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <span> <i class="fa fa-pencil"></i> สถานะรับคืนสินค้า:</span>
                            <span style="color: blue;text-decoration: underline;font-weight: bold" id="_statusclaim"></span>

                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="fa fa-image">Video By Sales:</span>
                                <div class="py-4" id="appvideosales">


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">



                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <span class="fa fa-image">Image By Sales:</span>

                            </div>
                        </div>
                    </div>
                    <div class="row" id="boximage">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header">
        <i class="fa fa-table"></i>Supper Manager Approval <li id="clickme1" class="fa fa-fw fa-angle-down" style="font-size:larger;font-weight:bold"></li>
    </div>
    <div class="col-md-12" id="myDIV1" style="display:block">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <span> <i class="fa fa-sort-down"></i>สถานะอนุมัติคืนสินค้า</span>
                    <span>
                        <select class="bar" id="_pmtstus"></select>
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <span> <i class="fa fa-calendar"></i> วันที่อนุมัติ:</span>
                    <span>
                        <input type="text" id="_pmdate" disabled="disabled" />
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">

                    <span><textarea rows="6" cols="100" id="remakepm" placeholder="หมายเหตุ"></textarea></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">

                    <button class="btn-info" id="_btnsaveapprove">บันทึกผล</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div id="myModalzoom" class="modalx" style="z-index: 11;">

        <!-- The Close Button -->
        @*<span class="close">&times;</span>*@

        <!-- Modal Content (The Image) -->
        <img class="modal-contentx" id="img01">
        <div class="modal-contentx" id="img01" style="background-color: #191919;"><button class="btn btn-secondary" type="button" data-dismiss="modal" id="closeimg" style="margin-left: 91%;">Close</button></div>
        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>

    </div>
    <input type="text" hidden id="_hqty" />
    <input type="text" hidden id="_cmnosub" />
    <input type="hidden" id="_uderlogin" value="@user" />
    @*<input type="hidden" id="_uderlogin" value="kanjana" />*@

    <input type="hidden" id="_udertype" value="@usertype" />
    <input type="hidden" id="_t1" />
    <input type="hidden" id="_t2" />
    <input type="hidden" id="_t3" />
    <!-- Modal -->
    <!-- Modal -->
    <div class="modal fade" id="myModalWarning" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content " id="ColorboxError">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color:black;">Message Error</h4>
                </div>
                <div class="modal-body">
                    <div id="textAlertWarning">Some text in the modal.</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- EndModal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="spinnerModal">
        <div class="modal-dialog modal-dialog-centered text-center" role="document">
            <span class="fa fa-spinner fa-spin fa-3x w-100"></span>
        </div>
    </div>

    <script type="text/javascript">
        $("#_itemnosearch").autocomplete({
            selectFirst: true,
            autoFocus: true,
            timeout: 100000,
            source: function (request, response) {
                var param = {
                    Name: $('#_itemnosearch').val(),
                    XvalCompany: $('#_company').val()
                };

                $.ajax({
                    url: '@Url.Action("GetdateStockCode", "GetdataCenter")',
                    data: JSON.stringify(param),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        response($.map(data.slice(0, 20), function (item) {
                            return {
                                value: item
                            }
                        }))
                    },
                    error: function (XMLhttpsRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });

            },
            minLength: 2//minLength as 2, it means when ever user enter 2 character in TextBox the AutoComplete method will fire and get its source data.
        });
        $("#_cusno").autocomplete({
            selectFirst: true,
            autoFocus: true,
            source: function (request, response) {
                var param = { Name: $('#_cusno').val(), Slm: $('#slmcod').val() };
                $.ajax({
                    url: '@Url.Action("GetdateCusCode", "GetdataCenter")',
                    data: JSON.stringify(param),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        response($.map(data.slice(0, 50), function (item) {
                            return {
                                value: item
                            }
                        }))
                    },
                    error: function (XMLhttpsRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            },
            minLength: 2//minLength as 2, it means when ever user enter 2 character in TextBox the AutoComplete method will fire and get its source data.
        });

        $(document).ready(function () {
            var udertype = $("#_udertype").val();
            var Userlogin = $("#_uderlogin").val();
            $('#Sccreateclaim').css("background-color", "");
            $('#Createcfreezes').css("background-color", "");
            $('#ProcessApproveSup').css("background-color", "rgb(9, 183, 9)");
            $('#ProcessApproveRT').css("background-color", "");
            $('#SrcCheckstatus_Sc').css("background-color", "");
            $('#SrcInvoiceHistory_Sc').css("background-color", "");
            if (udertype == "3") {
                $.ajax({
                    url: '@Url.Action("GetdataCountProcess", "GetdataCenter")',
                    data: {
                        Usertype: udertype,
                        // Userlogin: Userlogin
                        Userlogin: Userlogin
                    },
                    type: "POST",
                    dataType: "JSON",
                    success: function (data) {
                        console.log(data)
                        $("#tile").text(data.Getdata[0].val.Status)
                        $("#countadmin").html("TAC: " + data.Getdata[0].val.CountAdmin + " &nbsp;&#9830;&nbsp; AAC: " + data.Getdata[1].val.CountAdmin);
                        //$("#counttec1").text("TAC: " + data.Getdata[2].val.CountAdmin + " <----> AAC: " + data.Getdata[3].val.CountAdmin);
                        $("#counttec1").css("display", "none");
                    }
                });
            }


            function addDays(theDate, days) {
                return new Date(theDate.getTime() + days * 24 * 60 * 60 * 1000);
            }
            var newDate = addDays(new Date(), 15);
            $("#_duedatetec").val(('0' + newDate.getDate()).slice(-2) + '/' + ('0' + (newDate.getMonth() + 1)).slice(-2) + '/' + newDate.getFullYear()); //Due date
            $("#_duedatetec").attr("disabled", "disabled");
            $("#_clmdatetec").attr("disabled", "disabled");
            $("#_clmdatetec").css({ "background": "border-box", "color": "blue" });
            $("#_duedatetec").css({ "background": "border-box", "color": "blue" });

            var fixedTable2 = fixTable(document.getElementById('fixed-table-container-2'));
            n = new Date();
            y = n.getFullYear();
            m = n.getMonth() + 1;
            d = n.getDate();
            if (d < 10) {
                d = "0" + d;
            }
            if (m < 10) {
                m = "0" + m;
            }
            $("#_clmdatetec").val(d + "/" + m + "/" + y);

            ///fa fa-calendar///
            var today = new Date();

            $('#_rcvdatetec').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));

            $('#_anlysdatetec1').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
            $('#_scrapdatetec1').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
            $('#_appdatetec').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
            //$('#_pmdate').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
            $('#_pmdate').val(('0' + today.getDate()).slice(-2) + '/' + ('0' + (today.getMonth() + 1)).slice(-2) + '/' + today.getFullYear());

            // getdate()
            $.ajax({
                url: '@Url.Action("GetdateStatusClm", "GetdataCenter")',
                data: {
                    Name: 19
                },
                type: "POST",
                dataType: "JSON",
                success: function (data) {

                    var select = $("#_status");
                    select.children().remove();
                    // select.append($("<option>").val("0").text("เลือกCUSCOD"));
                    $(data).each(function (index, item) {

                        select.append($("<option custyp=" + item.CODE + ">").val(item.CODE).text(item.DESCRIPTION_TH));
                    });
                    $("#_status").val("0")
                    //  var CUSCODt = $("#CUSCOD option:selected").text();
                }
            });
            $.ajax({
                url: '@Url.Action("GetdateslmapproveSalesreturn", "GetdataCenter")',
                data: {
                    UserId: Userlogin
                    //  UserId: "kanjana"
                },
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    console.log(data)
                    var _tpy = $("#_udertype").val();
                    //alert(_tpy);
                    var select = $("#slmcod");

                    select.children().remove();
                    if (_tpy == "4") {
                        alert(Userlogin);
                        select.append($("<option>").val("").text("เลือก Sales Man ALL"));
                        $(data).each(function (index, item) {
                            select.append($("<option>").val(item.SLMCOD).text(item.SLMCOD + "/" + item.SLMNAM));
                        });
                        var slmcod = $("#slmcod").val();

                    } else if (_tpy == "1") {
                        select.append($("<option>").val("ALL").text("ALL"));
                        $(data).each(function (index, item) {
                            select.append($("<option>").val(item.SLMCOD).text(item.SLMCOD + "/" + item.SLMNAM));
                        });
                        var slmcod = $("#slmcod").val();

                    }
                    else if (_tpy == "2") {
                        select.append($("<option>").val("ALL").text("ALL"));
                        $(data).each(function (index, item) {
                            select.append($("<option>").val(item.SLMCOD).text(item.SLMCOD + "/" + item.SLMNAM));
                        });
                        var slmcod = $("#slmcod").val();

                    }
                    else if (_tpy == "5") {
                        select.append($("<option>").val("ALL").text("ALL"));
                        $(data).each(function (index, item) {
                            select.append($("<option>").val(item.SLMCOD).text(item.SLMCOD + "/" + item.SLMNAM));
                        });
                        var slmcod = $("#slmcod").val();

                    }

                }
            });
            $.ajax({
                url: '@Url.Action("GetdateStatusClm", "GetdataCenter")',
                data: {
                    Name: 19
                },
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    var select = $("#_pmtstus");
                    select.children().remove();
                    select.append($("<option>").val("99").text("เลือกผลการอนุมัติคืนสินค้า"));
                    $(data).each(function (index, item) {
                        if (item.CODE != '0') {
                            select.append($("<option custyp=" + item.CODE + ">").val(item.CODE).text(item.DESCRIPTION_TH));
                        }
                    });
                }
            });
            function getdate() {
                var tt = document.getElementById('_clmdatetec').value;

                var date = new Date(tt);
                var newdate = new Date(date);

                newdate.setDate(newdate.getDate() + 15);

                var dd = newdate.getDate();
                var mm = newdate.getMonth() + 1;
                var y = newdate.getFullYear();

                var someFormattedDate = d + '/' + m + '/' + y;
                document.getElementById('_duedatetec').value = someFormattedDate;
            }

            //CheckUsrClmStaff()

            $("#clickmeheader").on("click", function (e) {

                myFunctionheader();
            });
            function myFunctionheader() {
                var x = document.getElementById("myDIVheader");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
            $("#clickme").on("click", function (e) {

                myFunction();
            });
            function myFunction() {
                var x = document.getElementById("myDIV");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
            $("#clickme1").on("click", function (e) {

                myFunction1();
            });
            function myFunction1() {
                var x = document.getElementById("myDIV1");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
            $("#clickme2").on("click", function (e) {

                myFunction2();
            });
            function myFunction2() {
                var x = document.getElementById("myDIV2");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
            $("#clickme4").on("click", function (e) {

                myFunction4();
            });
            function myFunction4() {
                var x = document.getElementById("myDIV4");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
            $('#_itemnosearch').on("click", function (e) {
                var com = $('#_company').val();
                if (com == 'ALL') {
                    alert("กรุณาเลือก Company ก่อนค้นหา item");
                    $('#_itemnosearch').val("");
                    return false;
                }

            });
            $('#_itemnosearch').on("keyup", function (e) {
                var com = $('#_company').val();
                if (com == 'ALL') {
                    alert("กรุณาเลือก Company ก่อนค้นหา item");
                    $('#_itemnosearch').val("");
                    return false;
                }

            });
            $("#clickme3").on("click", function (e) {

                myFunction3();
            });
            $("#clickme4").on("click", function (e) {

                myFunction4();
            });
            $("#clickme5").on("click", function (e) {

                myFunction5();
            });
            function myFunction3() {
                var x = document.getElementById("myDIV3");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
            function myFunction5() {
                var x = document.getElementById("myDIV5");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
            function myFunction4() {
                var x = document.getElementById("myDIV4");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
            function splitval(_val) {
                var _splito = "";
                _splito = _val.split('|');

                return _splito[0];
            }
            function addCommas(nStr) {
                nStr += '';
                x = nStr.split('.');
                x1 = x[0];
                x2 = x.length > 1 ? '.' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(x1)) {
                    x1 = x1.replace(rgx, '$1' + ',' + '$2');
                }
                return x1 + x2;
            }
            function splitval(_val) {
                var _splito = "";
                _splito = _val.split('|');

                return _splito[0];
            }
            getstep1();
            function getstep1() {
                var valslmcod = $("#slmcod").val();
                var valcom = $("#_company").val();

                var valstatdate = $("#_statdate").val();
                var valenddate = $("#_enddate").val();

                var valcusno = $("#_cusno").val();
                if (valcusno != "") {
                    valcusno = splitval(valcusno);
                } else {
                    valcusno = "";
                }
                var sta_1 = "";
                var valststus = "";
                var sta_1 = $("#_status").val();
                if (sta_1 != null) {
                    valststus = sta_1;
                } else {
                    
                    valststus = "0";
                }
                
                lockcheck(valststus);
                var itemno = $("#_itemnosearch").val();
                if (itemno != "") {
                    itemno = splitval(itemno);
                } else {
                    itemno = "";
                }
                var valDoc = $("#searchclaimno").val();
                var uderlogin = $("#_uderlogin").val();
                GetSalesreturnreqstep1(valslmcod, valcom, valstatdate, valenddate,valststus, valcusno, valststus, itemno, valDoc, uderlogin)
            }
            $("#_btnsearch").on("click", function () {

                var valslmcod = $("#slmcod").val();
                var valcom = $("#_company").val();

                var valstatdate = $("#_statdate").val();
                var valenddate = $("#_enddate").val();

                var valcusno = $("#_cusno").val();
                if (valcusno != "") {
                    valcusno = splitval(valcusno);
                } else {
                    valcusno = "";
                }
                var valststus = $("#_status").val();
                lockcheck(valststus);
                var itemno = $("#_itemnosearch").val();
                if (itemno != "") {
                    itemno = splitval(itemno);
                } else {
                    itemno = "";
                }
                var valDoc = $("#searchclaimno").val();
                var uderlogin = $("#_uderlogin").val();
                GetSalesreturnreq(valslmcod, valcom, valstatdate, valenddate, valcusno, valststus, itemno, valDoc, uderlogin)

            });
          
            $("#_btnsearchclaimno").on("click", function () {
                //var claimnokey = $(this).val();

                var valpm = $("#_PM").val();
                var valststus = $("#_status").val();
                var valDoc = $("#searchclaimno").val();
                var valcom = $("#_company").val();
                //  GetClimtemp(claimnokey)
                var valstkgrp = $("#_stkgrp").val();
                Getclmimpm(valpm, valststus, valDoc, valcom, valstkgrp)
            });

            $("#searchclaimno").on("keyup", function (e) {
                //var claimnokey = $(this).val();
                var valpm = $("#_PM").val();
                var valststus = $("#_status").val();
                var valDoc = $("#searchclaimno").val();
                var valcom = $("#_company").val();
                var valstkgrp = $("#_stkgrp").val();
                var valstatdate = $("#_statdate").val();
                var valenddate = $("#_enddate").val();
                var valstatdatecus = $("#_statdatecus").val();
                var valenddatecus = $("#_enddatecus").val();
                var itemno = $("#_itemnosearch").val();
                if (itemno != "") {
                    itemno = splitval(itemno);
                } else {
                    itemno = "";
                }

                if (e.keyCode == 13) {
                    Getclmimpm(valpm, valststus, valDoc, valcom, valstkgrp, valstatdate, valenddate, itemno, valstatdatecus, valenddatecus)
                    //Getclmimpm(valpm, valststus, valDoc, valcom, valstkgrp)
                    // GetClimtemp(claimnokey)
                }
            });

            function getstatusapprove() {
                $.ajax({
                    url: '@Url.Action("GetdateStatusClm", "GetdataCenter")',
                    data: {
                        Name: 19
                    },
                    type: "POST",
                    dataType: "JSON",
                    success: function (data) {
                        var select = $("#_pmtstus");
                        select.children().remove();
                        select.append($("<option>").val("99").text("เลือกผลการอนุมัติคืนสินค้า"));
                        $(data).each(function (index, item) {
                            if (item.CODE != '0') {
                                select.append($("<option custyp=" + item.CODE + ">").val(item.CODE).text(item.DESCRIPTION_TH));
                            }
                        });
                    }
                });
            }
            function GetSalesreturnreqstep1(valslmcod, valcom, valstatdate, valenddate, valststus, valcusno, valststus, itemno, valDoc, uderlogin) {
                clearval()
                clearvaldea()
                if (valststus == null) {
                    valststus = "0";
                }
                //var instatus = $('#_status').val();
                getstatusapprove()
                $.ajax({
                    url: '@Url.Action("Getsalesreturndata", "GetdataCenter")',
                    data: {
                        inslm: valslmcod,
                        inCOM: valcom,
                        inSTATS: valststus,
                        instatdate: valstatdate,
                        inenddate: valenddate,
                        incusno: valcusno,
                        initem: itemno,
                        indoc: valDoc,
                        inuderlogin: uderlogin
                    },
                    type: "POST",
                    dataType: "JSON",
                    success: function (data) {
                        console.log(data)
                        $('#fixed-table-container-2  tbody:last-child').html("");
                        if (data.Getdata.length > 0) {


                            for (var i = 0; i < data.Getdata.length; i++) {
                                var stasmsup = data.Getdata[i].val.SMSUP_APPRV_STATUS;
                                var stascenter = data.Getdata[i].val.STMP_STATUS;

                                SubmithtmlPage = '<tr   fax="1" cmno="' + data.Getdata[i].val.STMP_ID + '"  foc="' + data.Getdata[i].val.STMP_ID_SUB + '" >';
                                // if (_BtnApp == "2") {
                                SubmithtmlPage += '<td style="color: blue;text-decoration: underline;font-weight: bold;cursor:pointer;" id="xxx" fax="1"  cmno="' + data.Getdata[i].val.STMP_ID + '" clmnoup="' + data.Getdata[i].val.STMP_ID_SUB + '"  cuscod="' + data.Getdata[i].val.CUSCOD + '"   cusnam="' + data.Getdata[i].val.CUSNAM + '"  slmcod="' + data.Getdata[i].val.SLMCOD + '"  slmnam ="' + data.Getdata[i].val.SLMNAM + '" company ="' + data.Getdata[i].val.STMP_COMPANY + '"  qty ="' + data.Getdata[i].val.STMP_REQQTY + '"  item ="' + data.Getdata[i].val.STKCOD + '"   PERFORMDESCRIPTION ="' + data.Getdata[i].val.PERFORMDESCRIPTION + '"  RCVSTATUSDESCRIPTION ="' + data.Getdata[i].val.RCVSTATUSDESCRIPTION + '">' + data.Getdata[i].val.STMP_ID + '</td>';
                                // } else {
                                //    SubmithtmlPage += '<td style="color: blue;text-decoration: underline;font-weight: bold;cursor:pointer;" id="xxx" fax="1" cmno="' + data.Getdata[i].val.CLM_ID + '" foc="' + data.Getdata[i].val.CLM_FOC + '" tec1status="' + TECH1_PROCESS_STATUS + '" tec2status="' + TECH2_PROCESS_STATUS + '" pmstatus="' + PM_PROCESS_STATUS + '"  perfromdes="' + data.Getdata[i].val.PERFORMDESCRIPTION + '" recstades="' + data.Getdata[i].val.RCVSTATUSDESCRIPTION + '"  cuscod="' + data.Getdata[i].val.CUSCOD + '" cusnam="' + data.Getdata[i].val.CUSNAM + '" slmcod="' + data.Getdata[i].val.SLMCOD + '"slmnam="' + data.Getdata[i].val.SLMNAM + '" comup="' + data.Getdata[i].val.CLM_COMPANY + '" clmnoup="' + data.Getdata[i].val.CLM_NO_SUB + '"  proceedtoup = "' + data.Getdata[i].val.CLM_PERFORM + '"  statusclaimup = "' + data.Getdata[i].val.CLM_RCVSTATUS + '" itemup="' + data.Getdata[i].val.STKCOD + '"stkdes="' + data.Getdata[i].val.STKDES + '" uomup="' + data.Getdata[i].val.CLM_UOM + '" claimqtyup="' + data.Getdata[i].val.CLM_REQQTY + '" worktimeup="' + data.Getdata[i].val.CLM_USEDAY + '"invoicenoeup="' + data.Getdata[i].val.CLM_INVNO + '" invoicedete = "' + data.Getdata[i].val.CLM_INVDATE + '" causeclaimup = "' + data.Getdata[i].val.CLM_CAUSE + '" rcvdate= "' + data.Getdata[i].val.CLM_RCVDATE + '"rcvby= "' + data.Getdata[i].val.CLM_RCVBY + '">' + data.Getdata[i].val.CLM_NO_SUB + '   <span class="fa fa-edit gi-3x"></span></td>';
                                // }
                                // SubmithtmlPage += '<td><button type="reset" id="delclmtemp" style="min-width: 50px;"  clmID="' + data.Getdata[0].val.CLM_ID + '" clmnoup="' + data.Getdata[i].val.CLM_NO_SUB + '">X</button></td>';
                                if (valststus == "0") {
                                    SubmithtmlPage += '<td><input id="checkbox" cmno="' + data.Getdata[i].val.STMP_ID + '" clmnoup="' + data.Getdata[i].val.STMP_ID_SUB + '"  class="chk" type="checkbox"  class="form-control input-lg" ></td>';
                                } else if (valststus == "1") {
                                    SubmithtmlPage += '<td></td>';
                                } else if (valststus == "2") {
                                    SubmithtmlPage += '<td></td>';
                                }
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.STMP_ID_SUB + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.CUSCOD + "/<br>" + data.Getdata[i].val.CUSNAM + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.SLMCOD + "/<br>" + data.Getdata[i].val.SLMNAM + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.STMP_RCVDATE + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.STMP_INVNO + "<br>" + data.Getdata[i].val.STMP_INVDATE + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.STKCOD + "<br>" + data.Getdata[i].val.STKDES + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.STKGRP + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.STMP_REQQTY + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.STMP_LineAMT + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.STMP_CAUSE + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.PERFORMDESCRIPTION + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.RCVSTATUSDESCRIPTION + '</td>';
                                if (stascenter != "7") { //ไม่ยกเลิก
                                    if (stasmsup == "0") {
                                        SubmithtmlPage += '<td><span class="fa fa-lock gi-4x" style="color: #868e96;"></span></td>';
                                    } else if (stasmsup != "0") {
                                        SubmithtmlPage += '<td><span class="fa fa-check-circle gi-4x" style="color: #09b709;"title="อนุมัติเรียบร้อย"></span></td>';
                                    }

                                    SubmithtmlPage += '<td><span class="fa fa-lock gi-4x" style="color: #868e96;"></span></td>';
                                    SubmithtmlPage += '<td><span class="fa fa-lock gi-4x" style="color: #868e96;"></span></td>';
                                    SubmithtmlPage += '<td><span class="fa fa-lock gi-4x" style="color: #868e96;"></span></td>';
                                    SubmithtmlPage += '<td></td>';
                                } else if (stascenter == "7") { //ยกเลิก
                                    if (stasmsup == "2") {
                                        SubmithtmlPage += '<td><span class="fa fa-times-circle gi-4x" style="color: red;"></span></td>';
                                    } else if (stasmsup == "1") {
                                        SubmithtmlPage += '<td><span class="fa fa-check-circle gi-4x" style="color: #09b709;"title="อนุมัติเรียบร้อย"></span></td>';
                                    }

                                    //SubmithtmlPage += '<td><span class="fa fa-times-circle gi-4x" style="color: red;"></span></td>';
                                    SubmithtmlPage += '<td><span class="fa fa-times-circle gi-4x" style="color: red;"></span></td>';
                                    SubmithtmlPage += '<td><span class="fa fa-times-circle gi-4x" style="color: red;"></span></td>';
                                    SubmithtmlPage += '<td><span class="fa fa-times-circle gi-4x" style="color: red;"></span></td>';
                                    SubmithtmlPage += '<td></td>';
                                }
                                SubmithtmlPage += '</tr>';



                                SubmithtmlPage += '</tr>';
                                $('#fixed-table-container-2  tbody:last-child').append(SubmithtmlPage);
                            }
                        } else {
                            //$("#textAlertWarning").empty();
                            //$("#textAlertWarning").text("ไม่มีรายการออนุมัติ");
                            //$("#myModalWarning").modal();
                            //  location.reload();
                        }
                        var fixedTable2 = fixTable(document.getElementById('fixed-table-container-2'));
                    }
                });
            }
            function GetSalesreturnreq(valslmcod, valcom, valstatdate, valenddate, valcusno, valststus, itemno, valDoc, uderlogin) {
                clearval()
                clearvaldea()
                if (valststus == null) {
                    valststus = "0";
                }
                var instatus = $('#_status').val();
                getstatusapprove()
                $.ajax({
                    url: '@Url.Action("Getsalesreturndata", "GetdataCenter")',
                    data: {
                        inslm: valslmcod,
                        inCOM: valcom,
                        inSTATS: valststus,
                        instatdate: valstatdate,
                        inenddate: valenddate,
                        incusno: valcusno,
                        initem: itemno,
                        indoc: valDoc,
                        inuderlogin: uderlogin
                    },
                    type: "POST",
                    dataType: "JSON",
                    success: function (data) {
                        console.log(data)
                        $('#fixed-table-container-2  tbody:last-child').html("");
                        if (data.Getdata.length > 0) {


                            for (var i = 0; i < data.Getdata.length; i++) {
                                var stasmsup = data.Getdata[i].val.SMSUP_APPRV_STATUS;
                                var staspm = data.Getdata[i].val.PM_APPRV_STATUS;
                                var stasmd = data.Getdata[i].val.MD_APPRV_STATUS;
                                var stascenter = data.Getdata[i].val.STMP_STATUS;

                                SubmithtmlPage = '<tr   fax="1" cmno="' + data.Getdata[i].val.STMP_ID + '"  foc="' + data.Getdata[i].val.STMP_ID_SUB + '" >';
                                // if (_BtnApp == "2") {
                                SubmithtmlPage += '<td style="color: blue;text-decoration: underline;font-weight: bold;cursor:pointer;" id="xxx" fax="1"  cmno="' + data.Getdata[i].val.STMP_ID + '" clmnoup="' + data.Getdata[i].val.STMP_ID_SUB + '"  cuscod="' + data.Getdata[i].val.CUSCOD + '"   cusnam="' + data.Getdata[i].val.CUSNAM + '"  slmcod="' + data.Getdata[i].val.SLMCOD + '"  slmnam ="' + data.Getdata[i].val.SLMNAM + '" company ="' + data.Getdata[i].val.STMP_COMPANY + '"  qty ="' + data.Getdata[i].val.STMP_REQQTY + '"  item ="' + data.Getdata[i].val.STKCOD + '"   PERFORMDESCRIPTION ="' + data.Getdata[i].val.PERFORMDESCRIPTION + '"  RCVSTATUSDESCRIPTION ="' + data.Getdata[i].val.RCVSTATUSDESCRIPTION + '">' + data.Getdata[i].val.STMP_ID + '</td>';
                                // } else {
                                //    SubmithtmlPage += '<td style="color: blue;text-decoration: underline;font-weight: bold;cursor:pointer;" id="xxx" fax="1" cmno="' + data.Getdata[i].val.CLM_ID + '" foc="' + data.Getdata[i].val.CLM_FOC + '" tec1status="' + TECH1_PROCESS_STATUS + '" tec2status="' + TECH2_PROCESS_STATUS + '" pmstatus="' + PM_PROCESS_STATUS + '"  perfromdes="' + data.Getdata[i].val.PERFORMDESCRIPTION + '" recstades="' + data.Getdata[i].val.RCVSTATUSDESCRIPTION + '"  cuscod="' + data.Getdata[i].val.CUSCOD + '" cusnam="' + data.Getdata[i].val.CUSNAM + '" slmcod="' + data.Getdata[i].val.SLMCOD + '"slmnam="' + data.Getdata[i].val.SLMNAM + '" comup="' + data.Getdata[i].val.CLM_COMPANY + '" clmnoup="' + data.Getdata[i].val.CLM_NO_SUB + '"  proceedtoup = "' + data.Getdata[i].val.CLM_PERFORM + '"  statusclaimup = "' + data.Getdata[i].val.CLM_RCVSTATUS + '" itemup="' + data.Getdata[i].val.STKCOD + '"stkdes="' + data.Getdata[i].val.STKDES + '" uomup="' + data.Getdata[i].val.CLM_UOM + '" claimqtyup="' + data.Getdata[i].val.CLM_REQQTY + '" worktimeup="' + data.Getdata[i].val.CLM_USEDAY + '"invoicenoeup="' + data.Getdata[i].val.CLM_INVNO + '" invoicedete = "' + data.Getdata[i].val.CLM_INVDATE + '" causeclaimup = "' + data.Getdata[i].val.CLM_CAUSE + '" rcvdate= "' + data.Getdata[i].val.CLM_RCVDATE + '"rcvby= "' + data.Getdata[i].val.CLM_RCVBY + '">' + data.Getdata[i].val.CLM_NO_SUB + '   <span class="fa fa-edit gi-3x"></span></td>';
                                // }
                                // SubmithtmlPage += '<td><button type="reset" id="delclmtemp" style="min-width: 50px;"  clmID="' + data.Getdata[0].val.CLM_ID + '" clmnoup="' + data.Getdata[i].val.CLM_NO_SUB + '">X</button></td>';
                                if (instatus == "0") {
                                    SubmithtmlPage += '<td><input id="checkbox" cmno="' + data.Getdata[i].val.STMP_ID + '" clmnoup="' + data.Getdata[i].val.STMP_ID_SUB + '"  class="chk" type="checkbox"  class="form-control input-lg" ></td>';
                                } else if (instatus == "1") {
                                    SubmithtmlPage += '<td></td>';
                                } else if (instatus == "2") {
                                    SubmithtmlPage += '<td></td>';
                                }
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.STMP_ID_SUB + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.CUSCOD + "/<br>" + data.Getdata[i].val.CUSNAM + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.SLMCOD + "/<br>" + data.Getdata[i].val.SLMNAM + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.STMP_RCVDATE + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.STMP_INVNO + "<br>" + data.Getdata[i].val.STMP_INVDATE + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.STKCOD + "<br>" + data.Getdata[i].val.STKDES + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.STKGRP + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.STMP_REQQTY + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.STMP_LineAMT + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.STMP_CAUSE + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.PERFORMDESCRIPTION + '</td>';
                                SubmithtmlPage += '<td>' + data.Getdata[i].val.RCVSTATUSDESCRIPTION + '</td>';
                                if (stascenter != "7") { //ไม่ยกเลิก
                                    //sup
                                    if (stasmsup == "0") {
                                        SubmithtmlPage += '<td><span class="fa fa-lock gi-4x" style="color: #868e96;"></span></td>';
                                    } else if (stasmsup != "0") {
                                        SubmithtmlPage += '<td><span class="fa fa-check-circle gi-4x" style="color: #09b709;"title="อนุมัติเรียบร้อย"></span></td>';
                                    }
                                    //pm
                                    if (staspm == "0") {
                                        SubmithtmlPage += '<td><span class="fa fa-lock gi-4x" style="color: #868e96;"></span></td>';
                                    } else if (staspm == "1") {
                                        SubmithtmlPage += '<td><span class="fa fa-check-circle gi-4x" style="color: #09b709;"title="อนุมัติเรียบร้อย"></span></td>';
                                    }
                                    //md
                                    if (stasmd == "0") {
                                        SubmithtmlPage += '<td><span class="fa fa-lock gi-4x" style="color: #868e96;"></span></td>';
                                    } else if (stasmd == "1") {
                                        SubmithtmlPage += '<td><span class="fa fa-check-circle gi-4x" style="color: #09b709;"title="อนุมัติเรียบร้อย"></span></td>';
                                    }
                                    SubmithtmlPage += '<td><span class="fa fa-lock gi-4x" style="color: #868e96;"></span></td>';
                                    SubmithtmlPage += '<td><span class="fa fa-lock gi-4x" style="color: #868e96;"></span></td>';
                                    SubmithtmlPage += '<td></td>';
                                } else if (stascenter == "7") { //ยกเลิก
                                    if (stasmsup == "2") {
                                        SubmithtmlPage += '<td><span class="fa fa-times-circle gi-4x" style="color: red;"></span></td>';
                                    } else if (stasmsup == "1") {
                                        SubmithtmlPage += '<td><span class="fa fa-check-circle gi-4x" style="color: #09b709;"title="อนุมัติเรียบร้อย"></span></td>';
                                    }
                                    SubmithtmlPage += '<td><span class="fa fa-times-circle gi-4x" style="color: red;"></span></td>';
                                    SubmithtmlPage += '<td><span class="fa fa-times-circle gi-4x" style="color: red;"></span></td>';
                                    SubmithtmlPage += '<td><span class="fa fa-times-circle gi-4x" style="color: red;"></span></td>';
                                    SubmithtmlPage += '<td></td>';
                                }
                                SubmithtmlPage += '</tr>';



                                SubmithtmlPage += '</tr>';
                                $('#fixed-table-container-2  tbody:last-child').append(SubmithtmlPage);
                            }
                        } else {
                            $("#textAlertWarning").empty();
                            $("#textAlertWarning").text("ไม่มีรายการออนุมัติ");
                            $("#myModalWarning").modal();
                            //  location.reload();
                        }
                        var fixedTable2 = fixTable(document.getElementById('fixed-table-container-2'));
                    }
                });
            }
            $('#checkboxAll').click(function (event) {  //on click
                if (this.checked) { // check select status
                    $('.chk').each(function () { //loop through each checkbox
                        this.checked = true;

                    });
                } else {
                    $('.chk').each(function () { //loop through each checkbox
                        this.checked = false; //deselect all checkboxes with class "chk"

                    });
                }
            });
            function lockcheck(ststus) {
                if (ststus == "1") {
                   // $('#checkboxAll').prop("checked", false);
                    //$('table #checkbox').prop("checked", false);
                    $('#checkboxAll').prop("disabled", true);
                 
                  
                }else if (ststus == "2") {
                    //$('#checkboxAll').prop("checked", false);
                    //$('table #checkbox').prop("checked", false);
                    $('#checkboxAll').prop("disabled", true);
                   // $('table input[type=checkbox]').prop("disabled", true);
                } else if (ststus == "0") {
                    //$('#checkboxAll').prop("checked", false);
                    //$('table #checkbox').prop("checked", false);
                    $('#checkboxAll').prop("disabled", false);
                    // $('table input[type=checkbox]').prop("disabled", true);
                }
            }
            $("table").on("click", "tr #checkbox", function () {
                
                var indoc = $(this).attr('cmno');
                var indocsup = $(this).attr('clmnoup');
                $('#checkboxAll').prop("checked", false);
                //alert(indoc + '////' + indocsup)

            });
            //approve ok//
            $(".btnapproval").click(function () {
              
                var data = [];
                var supdate = $("#_pmdate").val(); //วันที่PM พิจารณา
                var status = $(this).attr('cak');//สถานะอนุมัติ           
                var remake = $("#remakesupall").val();
                var userlogin = $("#_uderlogin").val();
               $('table tr').find('input[type="checkbox"]:checked').each(function () {
                   var indoc = $(this).attr('cmno');
                   var indocsup = $(this).attr('clmnoup');
                    var ItemList = {
                        indoc: indoc,
                        indocsup: indocsup,
                        insertdate: supdate,
                        supstus: status,
                        remake: remake,
                        userlogin: userlogin
                    };

                    data.push(ItemList);
                    console.log(data);
              
               });
               if (data.length == 0) {
                   $("#textAlertWarning").empty();
                   $("#textAlertWarning").text("ยังไม่ได้เลือกรายการอนุมัติ กรุณาเลือกรายการที่ต้องการอนุมัติ");
                   $("#myModalWarning").modal(); return false;
               }
               var DataSend = JSON.stringify(data);
               console.log(DataSend);

               $.ajax({
                   url: '@Url.Action("SaveProcessSalesreturnDetailSupAll", "ProcessApproveSmSup")',
                   data: {
                       data: DataSend,
                      
                   },
                   type: "POST",
                   dataType: "JSON",
                   success: function (data) {
                       console.log(data);
                       if (data.message == "true") {
                           //  waitingDialog.hide();
                           $("#textAlertSucces").empty();
                           $("#textAlertSucces").text("บันทึกข้อมูลสำเร็จ");
                           $("#myModalSucces").modal();
                           //location.reload();
                           $('#checkboxAll').prop("disabled", false);
                           $("#remakesupall").val("");
                           $("#myModalSucces").click(function () {
                               var valpm = $("#_PM").val();
                               var valststus = $("#_status").val();
                               var valDoc = $("#searchclaimno").val();
                               var valcom = $("#_company").val();
                               var valstkgrp = $("#_stkgrp").val();
                               var valstatdate = $("#_statdate").val();
                               var valenddate = $("#_enddate").val();
                               var valstatdatecus = $("#_statdate").val();
                               var valenddatecus = $("#_enddate").val();
                               var itemno = $("#_itemnosearch").val();

                               if (itemno != "") {
                                   itemno = splitval(itemno);
                               } else {
                                   itemno = "";
                               }
                               //Getclmimpm(valpm, valststus, valDoc, valcom, valstkgrp, valstatdate, valenddate, itemno, valstatdatecus, valenddatecus)
                               // Getclmimpm(valpm, valststus, valDoc, valcom, valstkgrp)
                               // $("table tr #xxx").click();
                           });
                           $("#_btnsearch").trigger("click");
                       } else {
                           //  waitingDialog.hide();
                           $("#textAlertWarning").empty();
                           $("#textAlertWarning").text(data.message);
                           $("#myModalWarning").modal(); return false;
                       }
                   }
               });
            });
            
            function modal() {
                $('#spinnerModal').modal('show');
                setTimeout(function () {
                    console.log('hejsan');
                    $('#spinnerModal').modal('hide');
                }, 3000);
            }
            $("table").on("click", "tr #xxx", function () {
                clearval()
                //var cusno = $("#_cusno").text();
                var indoc = $(this).attr('cmno');
                var indocsup = $(this).attr('clmnoup');
                var incompany = $(this).attr('company');
                var statussup = "";

                $.ajax({
                    url: '@Url.Action("Getsalesreturndetail", "GetdataCenter")',
                    data: {
                        indoc: indoc,
                        indocsup: indocsup,

                    },
                    type: "POST",
                    dataType: "JSON",
                    success: function (data) {
                        console.log(data.Getdata)
                        if (data.Getdata.length > 0) {
                            //  alert(data.Getdata[0].val.CUSCOD)
                            $("#_cusnodes").text(data.Getdata[0].val.CUSCOD);
                            $("#_cusnamedes").text(data.Getdata[0].val.CUSNAM);
                            $("#requestby").text(data.Getdata[0].val.STMP_REQUESTBY);
                            $("#slmcoddes").text(data.Getdata[0].val.SLMCOD);
                            $("#sslmnamdes").text(data.Getdata[0].val.SLMNAM);
                            $("#requestdate").text(data.Getdata[0].val.STMP_REQUESTDATE);
                            $("#_itemno").text(data.Getdata[0].val.STKCOD);
                            $("#_description").text(data.Getdata[0].val.STKDES);
                            $("#_uom").text(data.Getdata[0].val.STMP_UOM);
                            $("#_claimqty").text(data.Getdata[0].val.STMP_REQQTY);
                            $("#_invoiceno").text(data.Getdata[0].val.STMP_INVNO);
                            $("#_workda").text("");//ระยะใช้งาน//
                            $("#causeclaim").text(data.Getdata[0].val.STMP_CAUSE);//เหตุผลเคลม//
                            $("#_proceedto").text(data.Getdata[0].val.PERFORMDESCRIPTION);//ดำเนินการ//
                            $("#_statusclaim").text(data.Getdata[0].val.RCVSTATUSDESCRIPTION); //Status///
                            $("#_claimnosub").text(data.Getdata[0].val.STMP_ID_SUB);
                            $("#_produc").text(data.Getdata[0].val.PROD + '/' + data.Getdata[0].val.PRODNAM);
                            statussup = data.Getdata[0].val.SMSUP_APPRV_STATUS;
                            if (statussup == "1") {

                                // $("#_pmtstus").val(data.Getdata[0].val.SMSUP_APPRV_STATUS)
                                $("#_pmtstus").val(statussup);
                                $("#_pmdate").val(data.Getdata[0].val.SMSUP_APPRV_DATE);
                                $("#remakepm").val(data.Getdata[0].val.SMSUP_REMARK);
                                $("#_btnsaveapprove").css("display", "none");
                            } else {
                                $("#_btnsaveapprove").css("display", "block");
                                getstatusapprove()
                                $('#_pmdate').val(('0' + today.getDate()).slice(-2) + '/' + ('0' + (today.getMonth() + 1)).slice(-2) + '/' + today.getFullYear());
                                //$('#_pmdate').val(today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2));
                            }

                            $.ajax({
                                url: '@Url.Action("Getdatahis_Date_2year", "GetdataCenter")',
                                data: {
                                    _cusno: data.Getdata[0].val.CUSCOD,
                                    _itemno: data.Getdata[0].val.STKCOD,
                                    _invoiceno: data.Getdata[0].val.STMP_INVNO,
                                    _com: incompany,
                                    _statdate: "",
                                    _enddate: "",
                                    _foc: ""
                                },
                                type: "POST",
                                dataType: "JSON",
                                success: function (data) {
                                    console.log(data);
                                    if (data.message == "true") {
                                        $("#_itemno").text(data.Getdata[0].val.STKCOD);
                                        $("#_description").text(data.Getdata[0].val.STKDES);
                                        $("#_uom").text(data.Getdata[0].val.Uom);
                                        $("#_invoiceno").text(data.Getdata[0].val.DOCNUM);
                                        $("#_psdate").text(data.Getdata[0].val.PSTDAT);
                                        $("#_invoiceqty").text(addCommas(data.Getdata[0].val.Qty));
                                        $("#_invoicelineamt").text(addCommas(parseFloat(data.Getdata[0].val.Price).toFixed(2)));
                                        $("#_invoicelinedis").text(addCommas(parseFloat(data.Getdata[0].val.DiscountPer).toFixed(2)));
                                        $("#_invoicelinedisamt").text(addCommas(parseFloat(data.Getdata[0].val.DiscountAmt).toFixed(2)));
                                        $("#_amt").text(addCommas(parseFloat(data.Getdata[0].val.Amt).toFixed(2)));
                                        $("#_stkgup").text(data.Getdata[0].val.STKGRP);
                                        $("#_foc").text("");
                                        var qty = $("#_claimqty").text();
                                        $("#_amtreturn").text(addCommas(parseInt(qty) * parseFloat(data.Getdata[0].val.Price)));
                                        // $("#requestby").text(rcvby);
                                        // $("#requestdate").text(rcvdate);
                                    } else {
                                        alert(data.message);
                                    }
                                }
                            });
                        }
                    }
                });
                $('#spinnerModal').modal('show');
                // modal()
                var nokey = $(this).attr('cmno');
                var nosubkey = $(this).attr('clmnoup');
                $("#Nospankey").text(nokey);
                $("#subNospan").text(nosubkey);
                $('#appvideosales').html("");
                $.ajax({
                    url: '@Url.Action("GetfileVideoRT", "GetdataCenter")',
                    data: {
                        inCLM_ID: nokey,
                        CLM_NO: nosubkey,
                        Im_No: "01"
                    },
                    type: "POST",
                    dataType: "JSON",
                    success: function (result) {
                        console.log(result.videolist)
                        if (result.videolist.length > 0) {
                            $('#appvideosales').html("");
                            for (var i = 0; i < result.videolist.length; i++) {
                                SubmithtmlPage = '<video controls="controls" style="width: 600px; max-width: 100%;">';
                                SubmithtmlPage += '<source src="' + result.videolist[0].FilePath + '.mp4" + " type="video/mp4" videomode="720p"/>';
                                SubmithtmlPage += '</video>';
                                $('#appvideosales').append(SubmithtmlPage);
                                // HTMLbuilder = HTMLbuilder + imgHtml;
                            }
                        } else {

                        }
                    },
                });

                //Getimage//
                $("#boximage").html("");
                $.ajax({
                    url: '@Url.Action("GetPathImageRT", "GetdataCenter")',
                    data: {
                        inCLM_ID: nokey,
                        CLM_NO: nosubkey
                    },
                    type: "POST",
                    dataType: "JSON",
                    success: function (result) {
                        console.log(result);
                        if (result.Getdata.length > 0) {
                            //$("#myModalimage").modal();
                            $('#boximage').html("");
                            if (result.Getdata) {
                                resultObj = eval(result.Getdata);
                                var SubmithtmlPage = "";
                                for (var i = 0; i < resultObj.length; i++) {
                                    var str = resultObj[i].val.IMAGE_NO;
                                    var res = str.substring(0, 3);
                                    if (res != "TEC") {
                                        SubmithtmlPage = '<div class="col-sm-3">';
                                        SubmithtmlPage += '<img src="' + resultObj[i].val.PATH + '"  class="img-responsive img-thumbnail" id="myImg">';
                                        SubmithtmlPage += '</div>';
                                        $('#boximage').append(SubmithtmlPage);
                                        // HTMLbuilder = HTMLbuilder + imgHtml;
                                    }
                                }
                            } else {

                                $("#myModalimage").modal();
                            }
                        }
                    }
                });

                var checkno = $("#subNospan").text();
                if (checkno != "") {
                    $("#_pmtstus").removeAttr('disabled');
                    $("#remakepm").removeAttr('disabled');


                    setTimeout(function () {

                        $('#spinnerModal').modal('hide');
                    }, 1000);
                } else {
                    alert("กรุณาเลือกรายการที่จะ อนุมัติ");
                    clearval();

                }


            });
            $(document).on('click', '#myImg', function () {
                var modal = document.getElementById('myModalzoom');
                var img = document.getElementById('myImg');
                var modalImg = document.getElementById("img01");
                var captionText = document.getElementById("caption");
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            });
            $(document).on('click', '.close', function () {
                var modal = document.getElementById('myModalzoom');
                modal.style.display = "none";
            });
            $(document).on('click', '#closeimg', function () {
                var modal = document.getElementById('myModalzoom');
                modal.style.display = "none";
            });
            $(document).on('click', '#myModalzoom div', function () {
                var modal = document.getElementById('myModalzoom');
                modal.style.display = "none";
            });

            $("#_btnsaveapprove").click(function () {
                var nokey = $("#Nospankey").text();
                var nosubkey = $("#subNospan").text();
                //var pm = $("#_PM").val();  // Product Manager
                var pmdate = $("#_pmdate").val(); //วันที่PM พิจารณา
                var pmtstus = $("#_pmtstus").val(); //สถานะอนุมัติ
                var pmremake = $("#remakepm").val();
                var userlogin = $("#_uderlogin").val();

                if (nokey == "" && nosubkey == "") {

                    $("#textAlertWarning").empty();
                    $("#textAlertWarning").text("กรุณาเลือกรายการที่ต้องการบันทึกผลการพิจารณา");
                    $("#myModalWarning").modal(); return false;
                }
                if (pmtstus == "99") {


                    $("#textAlertWarning").empty();
                    $("#textAlertWarning").text("กรุณาเลือก เลือกผลการอนุมัติคืนสินค้า");
                    $("#myModalWarning").modal(); return false;

                }


                $.ajax({
                    url: '@Url.Action("SaveProcessSalesreturnDetailSup", "ProcessApproveSmSup")',
                    data: {
                        aj_REQ_NO: nokey,
                        aj_CLM_NO_SUB: nosubkey,
                        //aj_PM_NAME: pm,
                        aj_SUP_APPRV_STATUS: pmtstus,
                        aj_SUP_REMARK: pmremake,
                        aj_SUP_APPRV_DATE: pmdate,
                        aj_userlogin: userlogin

                    },
                    type: "POST",
                    dataType: "JSON",
                    success: function (data) {
                        console.log(data);
                        if (data.message == "true") {
                            //  waitingDialog.hide();
                            $("#textAlertSucces").empty();
                            $("#textAlertSucces").text("บันทึกข้อมูลสำเร็จ");
                            $("#myModalSucces").modal();
                            //location.reload();

                            $("#myModalSucces").click(function () {
                                var valpm = $("#_PM").val();
                                var valststus = $("#_status").val();
                                var valDoc = $("#searchclaimno").val();
                                var valcom = $("#_company").val();
                                var valstkgrp = $("#_stkgrp").val();
                                var valstatdate = $("#_statdate").val();
                                var valenddate = $("#_enddate").val();
                                var valstatdatecus = $("#_statdate").val();
                                var valenddatecus = $("#_enddate").val();
                                var itemno = $("#_itemnosearch").val();

                                if (itemno != "") {
                                    itemno = splitval(itemno);
                                } else {
                                    itemno = "";
                                }
                                //Getclmimpm(valpm, valststus, valDoc, valcom, valstkgrp, valstatdate, valenddate, itemno, valstatdatecus, valenddatecus)
                                // Getclmimpm(valpm, valststus, valDoc, valcom, valstkgrp)
                                // $("table tr #xxx").click();
                            });
                            $("#_btnsearch").trigger("click");
                        } else {
                            //  waitingDialog.hide();
                            $("#textAlertWarning").empty();
                            $("#textAlertWarning").text(data.message);
                            $("#myModalWarning").modal(); return false;
                        }
                    }
                });
            });
            function clearvaldea() {
                $("#_cusnodes").text("");
                $("#_cusnamedes").text("");
                $("#_amt").text("");
                $("#slmcoddes").text("");
                $("#sslmnamdes").text("");
                $("#_produc").text("");
                $("#_amtreturn").text("");
            }
            function clearval() {
                $("#Nospankey").text("");
                $("#subNospan").text("");
                $("#_cusno").text("");
                $("#_cusname").text("");
                $("#requestby").text("");
                $("#slmcoddesc").text("");
                $("#sslmnamdesc").text("");
                $("#requestdate").text("");
                $("#_itemno").text("");
                $("#_description").text("");
                $("#_uom").text("");
                $("#_invoiceno").text("");
                $("#_psdate").text("");
                $("#_invoiceqty").text("");
                $("#_invoicelineamt").text("");
                $("#_invoicelinedis").text("");
                $("#_invoicelinedisamt").text("");
                $("#_foc").text("");
                $("#_stkgup").text("");
                $("#_workda").text("");
                $("#_claimqty").text("");
                $("#causeclaim").text("");
                $("#_proceedto").text("");
                $("#_statusclaim").text("");

                $('#appvideosales').html("");
                $('#appvideotech').html("");
                $("#boximage").html("");
                $("#boximagetechnic").html("");



                $("#_vemac").val("");
                $("#_moty").val("");
                $("#_modyear").val("");
                $("#_encod").val("");
                $("#_chno").val("");
                $("#_pump").val("");
                $("#_typpro").val("");
                $("#_warcarno").val("");
                $("#_milage").val("");
                $("#_datofdam").val("");
                $("#_batcod").val("");

                $("#causeclaim").val("");
                $("#_proceedto").val("0");
                $("#_statusclaim").val("2");
                $("#_workda").val("0"); //ระยะใช้งาน//
                $("#_workmonth").val("0"); //ระยะใช้งาน//
                $("#_workday").val("0");//ระยะใช้งาน//
                $("#_worktime").val("00:00");//ระยะใช้งาน//
                $("#_installdate").val("");
                $("#_claimcontacte").val("");
                $("#_contacte").val("");


                //Admin//
                $("#_proceedtotec").val("");  ///สถานะการรับสินค้า
                $("#_rcvbyte").val("");      //ผู้รับสินค้าเคลม
                $("#_rcvdatetec").val("");//วันที่รับสินค้าเคลม:
                $("#_rvqtytec").val(""); //จำนวนที่รับเคลม:
                // $("#_rcuom").val(data.Getdata[0].val.CLM_UOM); //UOM
                $("#_clmdatetec").val("");//Claim date:
                $("#_duedatetec").val(""); //Due date
                $("#_admintec").val("");//Admin:
                //$("#_datechecktec").val(data.Getdata[0].val.CLM_DATE); //วันที่ตรวจสอบ
                $("#causeclaimtec").val("");//หมายเหตุการรับเคลม
                //Tech1//
                $("#_nametec1").val("");//ตรวจสอบโดย
                $("#_anlysdatetec1").val("");     //วันที่วิเคราะห์ปัญหา
                $("#_perfromtec1").val(""); //ดำเนินการ
                $("#_anlysstatustec1").val("0"); //สถานะการวิเคราะห์ WR,WE,WF
                $("#_anlysafterprotec1").val("0"); //หลังเสร็จสิ้นกระบวนการเคลม
                $("#_scrapdatetec1").val("");
                $("#_shelfloctec").val("");//Shelf Location
                $("#_tecwork").val("");//ช่างที่รับผิดชอบ:
                $("#remaketec1").val("");


                $("#_pmdate").attr("disabled", "disabled");
                $("#_pmtstus").attr("disabled", "disabled");
                $("#remakepm").attr("disabled", "disabled");
                $("#_pmnewpn").attr("disabled", "disabled");
                $("#_btnsaveapprove").css("display", "none");

                $("#_pmdate").val("");
                $("#_pmtstus").val("0");
                $("#_pmnewpn").val("");
                $("#remakepm").val("");

            }
        });

    </script>

</body>
</html>