@{
    ViewBag.Title = "_LayoutindexRT";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11,chrome=1" />
    <!-- Bootstrap core CSS-->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Page level plugin CSS-->
    <link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet" />
    <style>
        .modal {
            background: rgba(0, 0, 0, 0.5);
        }

        .modal-backdrop {
            display: none;
        }
    </style>
</head>
<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="">TRW Auto Service  System</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <a class="navbar-brand">
                <i class="fa fa-user-circle-o" style="color:white"> @Session["UserID"]</i>
                @*@if (Session["UserType"].ToString() == "1")
                {
                    <i class="fa fa-area-chart" style="color:white">
                        Technical Admin  >>>@Session["DatetoExpire"]
                    </i>
                }
                else if (Session["UserType"].ToString() == "2")
                {
                    <i class="fa fa-area-chart" style="color:white">
                        technical2  >>>@Session["DatetoExpire"]
                    </i>
                }
                else if (Session["UserType"].ToString() == "3")
                {
                    <i class="fa fa-area-chart" style="color:white">
                        Product  >>>@Session["DatetoExpire"]
                    </i>
                }
                else if (Session["UserType"].ToString() == "4")
                {
                    <i class="fa fa-area-chart" style="color:white">
                        Sales Man  >>>@Session["DatetoExpire"]
                    </i>
                }
                else if (Session["UserType"].ToString() == "5")
                {
                    <i class="fa fa-area-chart" style="color:white">
                        SalesCo  >>>@Session["DatetoExpire"]
                    </i>
                }*@
                <i class="fa fa-area-chart" style="color:white">
                    Management  >>>@Session["DatetoExpire"]
                </i>
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group" style="color: #343a40;">
                            >>>>>>>>>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-primary o-hidden" id="divMenuMain">
                        <a class="card-footer text-white clearfix small z-1" id="SelectDisplay" href="~/SelectDisplay/Index">
                            <span class="float-left">กลับสู่เมนูหลัก</span>
                            <span class="float-right">
                            </span>
                        </a>
                    </div>
                </div>
                @*<div class="col-xl-2 col-sm-6 mb-3">
                        <div class="card text-white bg-info o-hidden">
                            <a class="card-footer text-white clearfix small z-1" id="SrcInvoiceHistory_Sc" href="~/InvoiceHistory_Sc/Index">
                                <span class="float-left">ตรวจสอบประวัติการซื้อ</span>
                                <span class="float-right">
                                </span>
                            </a>
                        </div>
                    </div>*@
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-success o-hidden" id="divMenuApproveMd">
                        <a class="card-footer text-white clearfix small z-1" id="ProcessApproveSalesreturnMd" href="~/ProcessApproveSalesreturnMd/Index">
                            <span class="float-left">Approve SalesReturn By Management</span>
                            <span class="float-right"> </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-6 mb-3">
                    <div class="card text-white bg-success o-hidden" id="divMenuCheckStatus">
                        <a class="card-footer text-white clearfix small z-1" id="SrcCheckstatus_Sc" href="~/CheckstatusRT/Index">
                            <span class="float-left">ตรวจสอบสถานะขอคืนสินค้า</span>
                            <span class="float-right"> </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                @RenderBody()
                <div class="card-footer small text-muted">@DateTime.Now </div>
            </div>
        </div>
        <footer class="sticky-footer">
            <div>
                <div class="text-center">
                    <small>Claim System © Your Website @DateTime.Now.Year</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="~/Account/LogIn" id="logou">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/popper/popper.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="~/vendor/datatables/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
        <script src="~/Scripts/js/sb-admin.min.js"></script>
        <script src="~/Scripts/js/sb-admin-datatables.min.js"></script>
    </div>
</body>
</html>
<script>
    //$(document).ready(function () {
    //    $('#divMenuApproveMd').click(function () {
    //        alert("divMenuApproveMd");

    //    });

    //    $('#divMenuCheckStatus').click(function () {
    //        alert("divMenuCheckStatus");
    //        //$("#SrcCheckstatus_Sc").css('background-color', '');
    //        //$("#SrcCheckstatus_Sc").css('background-color', '#17a2b8');
    //        //$("#SrcCheckstatus_Sc").removeAttr('style');
    //        //$("#divMenuCheckStatus").removeClass("bg-success");
    //        //$("#divMenuCheckStatus").addClass("bg-info");
    //        $('.card-header').css('background-color', 'red');
    //       // $("#SrcCheckstatus_Sc").css('background-color', 'red');
    //    });
    //});
</script>





