@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layoutindex.cshtml";
    var user = ViewBag.UserId;
    var usertype = ViewBag.UserType;
}




<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Check Ststus Claim</title>
    <link href="~/Content/css/sb-admin-A.css" rel="stylesheet" />

    <link href="~/Scripts/JSautocomplete/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/JSautocomplete/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/JSautocomplete/jquery-ui.js"></script>
    <script src="~/Content/fixed-table-master/fixed-table.js"></script>
    <link href="~/Content/fixed-table-master/fixed-table.css" rel="stylesheet" />

    <style>
         labelp {
            color: #999;
            font-size: 18px;
            font-weight: normal;
            /* position: absolute; */
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }
        .field-icon {
            float: right;
            margin-left: -25px;
            margin-top: -25px;
            position: relative;
            z-index: 2;
        }
        .container {
            padding-top: 50px;
            margin: auto;
        }
     #frmCheckPassword {
        border-top: #F0F0F0 2px solid;
        background: #808080;
        padding: 10px;
    }
    .demoInputBox {
        padding: 7px;
        border: #F0F0F0 1px solid;
        border-radius: 4px;
    }
    #password-strength-status {
        padding: 5px 10px;
        color: #FFFFFF;
        border-radius: 4px;
        margin-top: 5px;
    }

    .medium-password {
        background-color: #b7d60a;
        border: #BBB418 1px solid;
    }

    .weak-password {
        background-color: #ce1d14;
        border: #AA4502 1px solid;
    }

    .strong-password {
        background-color: #12CC1A;
        border: #0FA015 1px solid;
    }

    </style>
</head>
<body>
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Change Password</h3>
        </div>
        <div class="card-body">
            <form class="form" role="form" autocomplete="off">
                <div class="col-md-6">
                    <div class="form-group">
                        <labelp for="inputPasswordOld">Current Password</labelp>
                        <input type="password" class="form-control" id="inputPasswordOld" required="">
                        <span toggle="#inputPasswordOld" class="fa fa-fw fa-eye field-icon toggle-passwordCur"></span>
                        <span id='meassagetext'></span>
                    </div>
                    <div class="form-group">
                        <labelp for="inputPasswordNew">New Password</labelp>
                        <input type="password" class="form-control demoInputBox" id="inputPasswordNew"  required="">
                        <span toggle="#inputPasswordNew" class="fa fa-fw fa-eye field-icon toggle-passwordNew"></span>
                        <div id="password-strength-status"></div>
                        <span class="form-text small text-muted">
                            The password must be 8-20 characters, and must <em>not</em> contain spaces.
                        </span>
                      
                    </div>
                    <div class="form-group">
                        <labelp for="inputPasswordNewVerify">Verify</labelp>
                        <input type="password" class="form-control" id="inputPasswordNewVerify" required="">
                        <span toggle="#inputPasswordNewVerify" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        <span class="form-text small text-muted">
                            To confirm, type the new password again.
                        </span>
                       
                        <span id='message'></span>
                    </div>
                    <div class="col-md-6">
                        @*<input id="password-field" type="password" class="form-control" name="password" value="secret">
                        <span toggle2="#password-field" class="fa fa-fw fa-eye field-icon toggle-password2"></span>*@
                    </div>
                   
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success btn-lg float-right" id="savepas">Change Password</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Change password successfully</div>
                <div class="modal-footer">
                    @*<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>*@
                    <a class="btn btn-primary" href="~/Account/LogIn" id="logou">OK</a>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="_uderlogin" value="@user" />
    <input type="hidden" id="_udertype" value="@usertype" />
    @*<script src="~/Scripts/notview.js"></script>*@
 <script type="text/javascript">
     $(document).ready(function () {
         $('#SrcInvoiceHistory_Sc').css("background-color", "rgb(9, 183, 9)");
        var udertype = $("#_udertype").val();
        var Userlogin = $("#_uderlogin").val();


        $(".toggle-passwordCur").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
        $(".toggle-passwordNew").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
        $(".toggle-password").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        $('#inputPasswordOld').on('keyup', function () {
            var apsswofe = $(this).val();
            var Userlogin = $("#_uderlogin").val();
            $.ajax({
                url: '@Url.Action("Checkpassword", "Account")',
                                data: {
                                    textold: apsswofe,
                                    UsrID: Userlogin
                                },
                                type: "POST",
                                dataType: "JSON",
                                success: function (data) {
                                   // $("#meassagetext").html(data.message);
                                    if (data.message == "2") {
                                        //$("#meassagetext").html("Invalid password")
                                       // $("#meassagetext").addClass('weak-password');
                                       // $("#meassagetext").removeClass('strong-password');
                                       // $('#savepas').prop("disabled", true);
                                    } else{
                                        //$("#meassagetext").html("Password is correct")
                                       // $("#meassagetext").removeClass('weak-password');
                                       // $("#meassagetext").addClass('strong-password');
                                       // $('#savepas').removeAttr("disabled");
                                    }
                                }
                            });
                       });
                        function checkPasswordStrength() {
                            var number = /([0-9])/;
                            var alphabets = /([a-zA-Z])/;
                           // var special_characters = "";
                            var special_characters = /([~,!,#,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
                            if ($('#inputPasswordNew').val().length < 8) {
                                $('#savepas').prop("disabled", true);
                                $('#password-strength-status').removeClass();
                                $('#password-strength-status').addClass('weak-password');
                                $('#password-strength-status').html("Weak (should be atleast 8 characters.)");
                            } else {
                                if ($('#inputPasswordNew').val().match(number) && $('#inputPasswordNew').val().match(alphabets) && $('#inputPasswordNew').val().match(special_characters)) {
                                    $('#password-strength-status').removeClass();
                                    $('#password-strength-status').addClass('strong-password');
                                    $('#password-strength-status').html("Strong");
                                    $('#savepas').removeAttr("disabled");
                                    $('#inputPasswordNewVerify').removeAttr("disabled");
                                } else {
                                    $('#savepas').prop("disabled", true);
                                    $('#inputPasswordNewVerify').prop("disabled", true);
                                    $('#password-strength-status').removeClass();
                                    $('#password-strength-status').addClass('medium-password');
                                    $('#password-strength-status').html("Medium (should include alphabets, numbers and special characters.)");
                                }
                            }
                        }
                        $('#savepas').prop("disabled", true);
                        $('#inputPasswordNew').on('keyup', function () {
                            if ($('#inputPasswordNew').val() != $('#inputPasswordOld').val()) {
                                checkPasswordStrength();
                                //$('#message').html('Matching').css('color', '#FFFFFF');
                                //$("#message").removeClass('weak-password');
                                //$("#message").addClass('strong-password');
                                //$('#savepas').removeAttr("disabled");
                            } else {
                                $('#savepas').prop("disabled", true);
                                $('#password-strength-status').removeClass();
                                $('#password-strength-status').addClass('weak-password');
                                $('#password-strength-status').html("Weak (old password repeated new password.)");
                            }
                        });
                           

                        $('#inputPasswordNew,#inputPasswordNewVerify').on('keyup', function () {
                          
                            if ($('#inputPasswordNew').val() == $('#inputPasswordNewVerify').val()) {
                            
                                    $('#message').html('Matching').css('color', '#FFFFFF');
                                    $("#message").removeClass('weak-password');
                                    $("#message").addClass('strong-password');
                                    $('#savepas').removeAttr("disabled");
                               
                            } else {
                                $('#message').html('Not Matching').css('color', '#FFFFFF');
                                $("#message").addClass('weak-password');
                                $("#message").removeClass('strong-password');
                                $('#savepas').prop("disabled", true);
                            }
                        });

                        $('#savepas').on("click", function (e) {

                           
                            var Userloginold = $('#inputPasswordOld').val();
                            var Userlogin = $('#inputPasswordNew').val();
                            var UserinputPasswordNewVerify = $('#inputPasswordNewVerify').val();
                            var Userlogin = $("#_uderlogin").val();

                            $.ajax({
                                url: '@Url.Action("Checkpassword", "Account")',
                                data: {
                                    textold: Userloginold,
                                    UsrID: Userlogin
                                },
                                type: "POST",
                                dataType: "JSON",
                                success: function (data) {
                                   
                                    // $("#meassagetext").html(data.message);
                                    if (data.message == "1") {
                                        $.ajax({
                                            url: '@Url.Action("Changepassword", "Account")',
                                            data: {
                                                textold: UserinputPasswordNewVerify,
                                                UsrID: Userlogin
                                            },
                                            type: "POST",
                                            dataType: "JSON",
                                            success: function (data) {

                                                if (data.message == "true") {

                                                    $("#exampleModal").modal('show');
                                                } else {
                                                    alert("กรุณาใส่Password ใหม่")
                                                }
                                            }
                                        });
                                    } else {
                                        alert("Current Password ไม่ถูกต้อง")
                                    }
                                }
                            });

                            
                        });
                    });
            </script>
    </body>
 </html>

